{% extends './layout.html' %}


{% block content %} 
  <div class="d-flex flex-column justify-content-around align-items-center">
    <img src="/img/login_cover.svg" class="mb-4" width="100%">
    <div class="container text-justify">
      <div>
        <h2>Missão</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam iaculis magna, sed malesuada enim rutrum eget. Maecenas et pharetra ipsum, quis aliquam odio.
        </p>
      </div>

      <div class="mt-4">
        <h2>Visão</h2>
        <p>
          Aliquam non diam quis velit faucibus scelerisque id vel est. Etiam facilisis vitae purus tempus eleifend. Phasellus blandit felis et neque elementum, eu sollicitudin ipsum faucibus.
        </p>
      </div>

      <div class="mt-4">
        <h2>Valores</h2>
        <p>
          Aliquam non diam quis velit faucibus scelerisque id vel est. Etiam facilisis vitae purus tempus eleifend. Phasellus blandit felis et neque elementum, eu sollicitudin ipsum faucibus.
        </p>
      </div>
    </div>
  </div>
{% endblock %}