{% extends './layout.html' %}


{% block content %} 
  <div class="d-flex flex-column justify-content-around align-items-center">
    <img src="/img/login_cover.svg" class="mb-4" width="100%">
    <div class="container text-justify">
      <div>
        <h2>Missão</h2>
        <p>
          O <i>ApontAÍ</i> tem a missão de agregar tecnologia com sustentabilidade ao entregar ao cliente uma solução ágil e prática para diminuição de desperdícios energéticos e hídricos com um sistema de reporte utilizado pelos usuários da empresa que facilita a comunicação com as devidas soluções e a transparência de informações.
        </p>
      </div>

      <div class="mt-4">
        <h2>Visão</h2>
        <p>
          Estar a frente no desenvolvimento de tecnologias sustentáveis que contribuam para um harmonioso espaço sem limitar os usuários e agregando economia financeira ao cliente.
        </p>
      </div>

      <div class="mt-4">
        <h2>Valores</h2>
        <p>
          O <i>ApontAÍ</i> deseja ser reconhecido pela qualidade de agregação de tecnologia com medidas sustentáveis levando ao cliente um produto que evita desperdícios e aos usuários maior aproveitamento das instalações.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
