<div class="login shadow-sm rounded bg-white col-10 col-md-4 p-4">
  <h1 class="h3 mb-3">Qual o problema?</h1>
  <form action="">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Tipo do problema (agua, luz, central de ar)" />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Local (Campus, prédio, sala)">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="A quanto tempo?">
    </div>
    <div class="form-group">
      <label for="foto">
        <img src="/img/file-upload.svg" class="file-upload-label">
      </label>
      <input class="form-control" id="foto" type="file" placeholder="A quanto tempo?" hidden>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="" cols="30" rows="5" placeholder="Descrição"></textarea>
    </div>
    <button class="btn btn-primary mb-4 w-100">Enviar</button>
  </form>
</div>
