<div class="login mt-3 mt-md-4 shadow-sm rounded bg-white col-11 col-md-5 p-4">
  <h1 class="h3 mb-3">Qual o problema?</h1>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input class="form-control" name="titulo" type="text" placeholder="Titulo" required />
    </div>
    <div class="form-group">
      <select name="tipo" class="custom-select" required>
        <option value="" selected hidden>Selecione uma categoria...</option>
        <option value="outros">Outros</option>
        <option value="agua">Desperdício de água</option>
        <option value="energia">Desperdício de energia</option>
        <option value="poluicao">Ambiente poluído</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" name="local" value="Campus Tapajós, Laranjão, Auditório" type="text" required placeholder="Local (Campus, prédio, sala)">
    </div>
    <div class="form-group">
      <label for="file">Faça upload de uma foto</label>
      <input id="file" class="form-control-file" name="foto" type="file">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="descricao" required cols="30" rows="4" placeholder="Descrição"></textarea>
    </div>
    <button class="btn btn-primary mb-4 w-100">Enviar</button>
  </form>
</div>
